.home-container,
.home-container-dark {
  flex-grow: 1;
  height: 88vh;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.home-container-dark {
  background-color: #181818;
}

.banner-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png');
}
